<h1>Welcome to SPLURGE</h1>
<p>
  Brought to you by: Technical Eatery Solutions Through Emergent Software.
</p>


<p>
  <%# guides.rubyonrails.org/routing.html explains helper paths%>
  <%= link_to "Sign In", signin_path, class: "btn-large btn-primary" %>
  <%= link_to "Register", new_restaurant_path, class: "btn btn-large btn-primary" %>
</p>


<% if false %>
  <%# annoyingly this is how you multiline comment in html.erb
  doo doo doo
  %>
<% end %>
